<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <style type="text/css">
    p.pos_p
    {
    position:relative;
    left:265px
    }
    input{display:inline}
    </style>
    <title>添加周报</title>
</head>
<body>
    <div>
        <label>日期格式2017-06-16；晚上24点前的加班可以在结束时间直接填写</label>
    </div>
    <div>
        <form method=post action={{ url_for(".add") }}>
            日期：<input type="text" name="date">
            内容：<input type="text" name="content" class="add_content" value="驻场">
            开始时间：<input type="text" name="start_time" value="9:00">
            结束时间：<input type="text" name="end_time" value="18:00">
            <select name="rest" class="rest">
                <option value="211" selected="selected">驻场职守</option>
                <option value="301">调休</option>
                <option value="302">年假</option>
            </select>
            <button type="submit">添加</button>
            <p>
            </p>
            <button type="button" class="addline1">加一行</button>
        </form>
    </div>
    <hr/>
    <div>
        <form method="post" action={{ url_for(".dayadd") }}>
            当天工作内容:<input type="text" name="content1" class="add_content1" value="驻场">
            当天下班时间：<input type="text" name="end_time1" value="18:00">
            <select name="rest1" class="rest1">
                <option value="211" selected="selected">驻场职守</option>
                <option value="301">调休</option>
                <option value="302">年假</option>
            </select>
            <button type="submit">填写当天</button>
        </form>
    </div>
    <hr />
    <div>
        <p><lable>加班到两点后，当天调休</lable></p>
        <form method=post action={{ url_for(".addmultidetail") }}>
            日期：<input type="text" name="date1" >
            内容1：<input type="text" name="content1">
            开始时间1：<input type="text" name="start_time1" value="0:00">
            结束时间1：<input type="text" name="end_time1">
            <p class="pos_p">

            <button type="submit">添加</button>
            </p>

        </form>
    </div>
    <hr />
    <div>
        <p>
            {% for message in get_flashed_messages() %}
                <font color="red"> {{ message }}</font>
            {% endfor %}
             {% block page_content %}{% endblock %}
        </p>
    </div>
    <div style="float:left;">
        <form method="post" action={{ url_for(".fivedays") }}>
            <button type="submit">本周正常上班，一键添加五天</button>
        </form>
    </div>
    <div style="float:left;">
        <form method="post" action="{{ url_for(".getlist")}}">
            <button type="submit">已提交列表</button>
        </form>
    </div>
        <div style="float:left;">
        <form method="post" action="{{ url_for(".lastfivedays")}}">
            <button type="submit">上周正常上班，一键添加五天</button>
        </form>
    </div>
    <div>
        <form method="post" action="{{ url_for(".submitall")}}">
        <table class="table table-striped table-hover">
            <tbody>
            <tr>
                <td width="30"><button type="submit">全部提交</button></td><td width="UNSORT">操作</td><td width="*">状态</td><td width="*">填写人</td><td width="*">日期</td><td width="*">工时</td><td width="*">加班工时</td><td width="*">内容</td><td width="*">审批时间</td><td width="*">审批意见</td><td width="*">审批人</td>
            </tr>
            {% for i in l %}
                <tr>
                    <td><input type="checkbox" checked name="sub" value="{{ i[1] }}"></td>
                    <td><a href={{ url_for('.submitzb',item = i[1] ) }}>提交</a>
                        <a href={{ url_for('.delete',del_id = i[1] ) }}>删除</a></td>
                    <td>{{ i[4] }}</td>
                    <td>{{ i[5] }}</td>
                    <td>{{ i[6] }}</td>
                    <td>{{ i[7] }}</td>
                    <td>{{ i[8] }}</td>
                    <td>{{ i[9] }}</td>
                    <td>{{ i[10] }}</td>
                    <td>{{ i[11] }}</td>
                    <td>{{ i[10] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>
    </div>
    <script type="text/javascript" language="javascript">
    $( ".rest" ).change(function() {
      <!--$(".add_content").val($( ".rest" ).$(":selected").text());-->
      $(".add_content").val($( ".rest" ).find("option:selected").text());
    });

    $( ".rest1" ).change(function() {
      <!--$(".add_content1").val($( ".rest1" ).$(":selected").text());-->
      $(".add_content1").val($( ".rest1" ).find("option:selected").text());
    });

    $(".addline1").click(function(){
        $(".addline1").before(function(n){
        return '<div class="newline' + n + '">内容：<input type="text" name="content" class="add_content" value="驻场">开始时间：<input type="text" name="start_time" value="9:00">结束时间：<input type="text" name="end_time" value="18:00"><select name="rest" class="rest"><option value="211" selected="selected">驻场职守</option><option value="301">调休</option><option value="302">年假</option></select></div>';
    });
       })

    window.onbeforeunload=function(event){
        if(event.clientX>document.body.clientWidth && event.clientY < 0 || event.altKey){
            $.post('/fuckzb/logout',{'code':{{ code }}});
            }
        }
    </script>
</body>
</html>