<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <title>fuckzb</title>
    <style>
        .index-main-body {margin:0 auto;width:400px;height:100px;border:1px solid #000}
    </style>
</head>
<body>
    <div class="index-main-body">
        <div class="index-header">
            <img src="/static/img/timg.jpeg">
        </div>
        <div class="desk-front sign-flow clearfix sign-flow-simple">
            <form method=post action={{ url_for(".login") }}>
                <p>userid:<input type="text" name="userid"></p>
                <p>password:<input type="password" name="pwd"></p>
                <p>验证码：<input type="'text" name="yzm"></p>
                <p><img src="/static/img/{{ code }}.jpg"></p>
                <button type="submit" class="btn btn-primary">登陆</button>
            </form>
            <button id="loginButton" class="loginButton">asdfasdf</button>
             <p>
                {% for message in get_flashed_messages() %}
                    {{ message }}
                {% endfor %}
            </p>
        </div>
    </div>

    <script type="text/javascript" language="javascript">
      $(document).ready(function(){
        $(window).bind("beforeunload",function(){
            $.post('/fuckzb/logout');
        });
        });
    </script>
</body>
</html>