<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>fuckzb</title>

</head>
<body>
    <div>
        <form method=post action={{ url_for(".login") }}>
            <p>userid:<input type="text" name="userid"></p>
            <p>password:<input type="password" name="pwd"></p>
            <p>验证码：<input type="'text" name="yzm"></p>
            <p><img src="/static/img/yzm.jpg"></p>
            <button type="submit">登陆</button>
        </form>
    </div>
</body>
</html>