<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <title>preindex</title>
</head>
<body>
    <div>
        <form method="post" action="{{ url_for(".index") }}">
        <label>用户名:</label><input type="text" name="userid">
        </form>
    </div>
    <script type="text/javascript" language="javascript">
      $(document).ready(function(){
        $(window).bind("beforeunload",function(){
            $.post('/fuckzb/logout');
        });
        });
    </script>
</body>
</html>